<ion-content [style.--background]="scanActive ? '#00000000' : '#fff'">

<ion-button expand="full" (click)="startScanner()" [hidden]="scanActive">
  <ion-icon name="scan" slot="start"></ion-icon>
  Escanear
</ion-button>
<p class="ion-text-center" *ngIf="result && !scanActive">{{ result }}</p>

<ion-row class="scanner-buttons" [hidden] = "!scanActive">
  <ion-col class="ion-no-padding">
    <ion-button expand="full" (click)="stopScanner()">Detener</ion-button>
  </ion-col>
  </ion-row>

  <div class="scan-box">
    
  </div>

</ion-content>