.sign-container{
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;

  .header{
      flex: 1;
      .title{
          padding-top: 70px;
          img{
              margin: 0 auto;
              width: 200px;
          }
      }
  }

  .login-container {
      flex: 2;
  }

  .form{
      --background: none;
      background: none;
      max-width: 320px;
      margin: 0 auto;

      ion-item{
          background: #53b89f;
          --border-radius: 4px;
          --border-color: none;
          --highlight-height: 0;
          margin-bottom: 15px;

      }

  }
  .sign-up-container{
      position: absolute;
      bottom: 0;
      height: 70px;
      width: 100%;
      padding-top: 10px;
      transition: all 1s;
      border-radius: 85% 85% 0 0 / 30%;
      overflow: hidden;

      &.active{
          height: calc(100% - 180px);
      }

      .toggle-text{
          color: rgb(253, 253, 253);
          font-size: 16px;
          margin-bottom: 66px;
      
      }
      .form{
          ion-item{
              --background:#2bc1b1;
          }
      }
  }
}

.gradient-1 {

  --background: linear-gradient(100deg, rgba(2,0,36,1) 0%, rgba(36,208,165,1) 35%, rgba(0,212,255,1) 100%);
  background: linear-gradient(100deg, rgba(2,0,36,1) 0%, rgba(36,208,165,1) 35%, rgba(0,212,255,1) 100%);

}

.gradient-2 {

--background: linear-gradient(100deg, rgba(2,0,36,1) 0%, rgba(36,208,165,1) 35%, rgb(36,208,165,1) 100%);
background: linear-gradient(100deg, rgba(36,208,165,166) 0%, rgba(36,208,165,1) 35%, rgba(36,208,165,1) 100%);
}

.green-button {
  --background:rgba(35,224,200,1);
  color:#FFF;

}

.gray-button {
  --background: rgba(97,135,157,1);
  color: #FFF;
}

.fade-in{
  animation: fadein 2s;
}

.fade-out{
  animation: fadeout 1s;
}

@keyframes fadein {
  from {
      opacity: 0;
  }
  to {
      opacity: 1;
  }
}

@keyframes fadeout {
  from {
      opacity: 1;
  }
  to {
      opacity: 0;
  }
}
