<ion-header>
  <ion-toolbar color="medium">
    <ion-icon slot="start" name="menu" size="large" class="ion-padding"></ion-icon>
    <ion-title>
      Inicio 
    </ion-title>
    <ion-text slot="end" >
      <p>{{username || 'Alumno'}}</p>
    </ion-text>
     <ion-buttons slot="end"> 
    <ion-avatar>
      <img src="/assets/perro.jpg"
     class="ion-padding" size="large">
    </ion-avatar>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content>

  <center><h3>Enlaces externos</h3></center>
  <br>

  <center><h6>¿Quieres informarte acerca de eventos y las ultimas novedades de Duoc?</h6></center>
  <center><img src="assets/duoc (1).png"/></center>
  <center><ion-button class="green-button"><a href="#" onclick="window.open('https://www.duoc.cl/alumnos/',
  '_system', 'location=yes'); return false;">Accede aqui</a></ion-button></center>

  <br>

  <center><h6>¿Necesitas ver tus notas y mas informacion?</h6></center>
  <center><img src="assets/vivo (1).jpg"/></center>
  <center><ion-button class="green-button"><a href="#" onclick="window.open('https://experienciavivo.duoc.cl/login',
'_system', 'location=yes'); return false;">Accede aqui</a></ion-button></center>

<br>



</ion-content>
